@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --fonte: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: var(--fonte);
}

div{
    margin: auto;
    max-width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 0px 20px;
}

img{
    margin-top: 15px;
    width: 400px;
    border-radius: 15px;
}

div > h2{
    font-weight: 700;
    text-align: center;
    
}

div > p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 25px;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }